<style>
    * {
        margin: 0;
        padding: 0;
    }

    :root {
        --slide-width: 1200px;
        --slide-height: 672px;

        --type1-box-width: 400px;
        --type1-textbox-height: 300px;

        --type2-box-width: 200px;
        --type2-box-height: 30px;

        --type3-box-width: 50px;
        --type3-box-height: 50px;
    }

    h1 {
        font-family: 'IBM Plex Sans', sans-serif;
        padding: 1vh;
        margin-bottom: 20px;
    }

    .slide-container {
        display: flex;
        margin: 20px auto;
        width: var(--slide-width);
        height: var(--slide-height);
        background: white;
        border: 1px solid black;
        overflow: hidden;
        font-family: 'Open Sans', sans-serif;
    }

    .type1-box {
        position: absolute;
        width: var(--type1-box-width);
        border-bottom: .5px solid black;
    }

    .type1-box-top {
        transform: translate(calc(var(--slide-width) - var(--type1-box-width)), 40px);
    }

    .type1-box-bottom {
        transform: translate(0, calc(var(--slide-height) - 40px));
    }

    .type1-textbox {
        display: flex;
        height: var(--type1-textbox-height);
        width: 100%;
        background: rgb(166, 139, 129);
        align-items: center;
        justify-content: center;
        
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 48pt;
        transform: translate(0, calc(var(--slide-height) / 2 - calc((var(--type1-textbox-height))/2)));
    }

    .type2-img{
        width: 50%;
    }

    .type2-textbox{
        display: flex;
        flex-direction: column;
        width: 50%;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        padding: 50px;
        justify-content: center;
    }

    .type2-textbox hr {
        height: 1ex;
        visibility: hidden;
    }

    .type2-box{
        position: absolute;
        background: rgb(166, 139, 129);
        width: var(--type2-box-width);
        height: var(--type2-box-height);
        transform: translate(calc(var(--slide-width) * 3 / 4 - var(--type2-box-width) / 2),calc(var(--slide-height) - var(--type2-box-height)));
    }

    .bulletpoints{
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        list-style: outside;
        font-size: 30px;
        padding: 0 50px;
    }

    .bullet{
        text-align: start;
    }

    .type3-box1, .type3-box2, .type3-box3{
        position: absolute;
        width: var(--type3-box-width);
        height: var(--type3-box-height); 
    }

    .type3-box1{
        background: rgb(233,211,196);
        transform: translate(calc(var(--slide-width) / 2),calc(var(--slide-height) - var(--type3-box-height) - 10px));
    }
    .type3-box2{
        background: rgb(217,174,160);
        transform: translate(calc(var(--slide-width) / 2 - var(--type3-box-width) * 2),calc(var(--slide-height) - var(--type3-box-height) - 10px));
    }
    .type3-box3{
        background: rgb(166,139,129);
        transform: translate(calc(var(--slide-width) / 2 + var(--type3-box-width) * 2),calc(var(--slide-height) - var(--type3-box-height) - 10px));
    }

    #creator {
        padding: 20px;
        margin: auto;
        font-family: 'Open Sans', sans-serif;
    }

    #nav-buttons {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        
    }