body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: #6b6b6b;
  }

#outputDiv{
    font-style: italic;
}

.navbar {
  clear: both;
  overflow: auto;
}

nav {
    float: right;
}

hr {
    border: .1px solid #6b6b6b;
    
}

.nav-item {
    cursor: pointer;
}

.logo .logoImg {
  float: right;
  padding-left: 20px;
}

nav>ul>li {
  color: #989695;
  display: inline-block; 
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px; 
}

ul li:hover {
  color: #6b6b6b; 
}

.logoHeader {
    font-family: 'Rouge Script', cursive;
    font-size: 1.8em;
}

.index-logo {
    padding-top: 20px;
    padding-bottom: 70px;
}

.navlogo {
    padding-top: 20px;
}

.signIn {
    font-weight: 600;
    font-size: 2em;
    color: rgb(152, 149, 148)
}

main{
    padding-left: 10px;
}

.container-index {
    background: none;
    width: 320px;
    height: 380px;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    text-align: center;
    border: 0.5px solid #6b6b6b;;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .container-signIn {
    background: none;
    width: 300px;
    height: 400px;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    text-align: center;
    border: 0.5px solid #6b6b6b;;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .container-createUser {
    background: none;
    width: 300px;
    height: 400px;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    text-align: center;
    border: 0.5px solid #6b6b6b;;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

.box-1 {
    display: flex;
}

.h3 {
    font-weight: 200;
}

.box-2 {
    padding-left: 10px;
}

.column-1 {
    padding-left: 10px;
    padding-right: 200px; 
    
}

.header2 {
    font-weight: 600;
    font-size: 1.2em;
}

.home {
    font-weight: 600;
    font-size: 2.5em;
    padding-left: 10px;
}

.login, .create {
    margin: 5px;
}

.button-basic {
    border: 1px solid #6b6b6b;;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
}

.button-small {
    font-size: 0.8em;
}

.username {
    font-weight: 200;
    font-size: 1.21em;
    text-align: center;
}

.paragraph {
    font-weight: 200;
}

#presentations, #currentSlides {
    display: flex;
    flex-wrap: wrap;
}

.presentation-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    width: 250px;
    height: 187.5px;
    margin-right: 40px;
    margin-bottom: 40px;
}

/* Styling slide previews */
.presentation-slide{
    display: flex;
    flex-direction: column; 
    border: 1px solid lightgrey;
    text-align: center;
    width: 250px;
    min-width: 250px;
    height: 187.5px;
    margin-right: 40px;
    margin-bottom: 20px;
}
.slide-title-preview,
.slide-theme-preview,
.slide-body-preview,
.slide-buttons-preview,
.slide-edit-preview,
.slide-delete-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.slide-title-preview{
    font-weight: bolder;
    color: grey;
    height: 15%;
    border-bottom: 1px solid lightgrey;
}

.slide-theme-preview{
    font-style: italic;
    height: 20%;
    color: rgba(0,0,0,.20);
}

.slide-body-preview{ 
    font-weight: 400;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    height: 50%;
}

.slide-body-preview>div>hr{
    visibility: hidden;
}

.image-preview{
    width:50px;
    padding: 10px;
}

.slide-buttons-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15%;
    border-top: 1px solid lightgrey;
}

.slide-edit-preview{
    flex: 0.7;
    padding: 1rem;
    border-right: 1px solid lightgrey; 
    cursor: pointer; 
}

.slide-edit-preview:hover{
    background: rgb(204, 194, 192);
}

.slide-delete-preview{
    flex: 1;
    padding: 1rem;   
    cursor: pointer;
}

.slide-delete-preview:hover{
    background: rgb(204, 194, 192);
}

.slide-bottom{

}

.share{
    height: 70%;
    color: lightgrey;
    font-size: 30px;
    align-content: center;
    font-style: oblique;
    cursor: pointer;
}

.delete-presentation-button{
    background: rgb(204, 194, 192);
    border-top: 1px solid black;
    cursor: pointer;
}

#newSlideOptions{
    display: flex;
    flex-direction: column;
}

.optionGroup{
    display: flex;
}

.slide-option{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.theme-name{
    font-weight: normal;
    color: lightgrey;
    font-style: oblique;
}



.slide-bottom-preview{

}



.title-share{
    color: lightgrey;
    font-style: italic;
}