body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}

.buttons{
  display: flex;
  align-items: center;
}

.box-invisible{
  background: none;
  width: 300px;
  height: 500px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  text-align: center;
}

.box-outer{
  background: none;
  width: 400px;
  height: 500px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 5px solid #989594;
  border-radius: 12px;
}

h1{
  text-transform: uppercase;
  color:#989594;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 700;

}

h2{
  text-transform: uppercase;
  color:#989594;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 700;

}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #717171;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #75625b;
  border-radius: 24px;
  transition: 0.25s;
  
}

.login, .create_user{
  font-size: 16px;
  border: 0;
  background:white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #717171;
  padding: 10px 30px;
  outline: none;
  color:#717171;
  border-radius: 100px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"] {
  font-size: 18px;
  border: 0;
  background:white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #717171;
  padding: 14px 40px;
  outline: none;
  color: #717171;
  border-radius: 100px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #717171;
  color:white;
}


.buttons input[type="submit"]:hover {
  background: #717171;
  color:white;
}

#logo_navbar {
  text-align: end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: flex;
  color: #717171;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #717171;
  color: white;
}