body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #A68B81;
  text-align: center;
  border-radius: 12px;
}

.box h1 {
  text-transform: uppercase;
}

h1{
  color: white;
  font-size: 72px;
  font-weight: 700;

}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #75625b;
  border-radius: 24px;
  transition: 0.25s;
  
}

/* .box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: white;
} */

.box input[type="submit"] {
  font-size: 24px;
  border: 0;
  background:white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color:#75625b;
  border-radius: 100px;
  /* border-radius: 24px; */
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #EAE6DF;
}
