body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: #6b6b6b;
}

.navbar {
  clear: both;
  overflow: auto;
}

nav {
    float: right;
}

.logo .logoImg {
  float: right;
  padding-left: 20px;
}

ul li {
  color: #989695;
  display: inline-block; 
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px; 
}

ul li:hover {
  color: #6b6b6b; 
}

@media(min-width:768px) {
  .container {
    display: flex;
    width: 1448px;
    align-items: center;
    justify-content: center;

  }
  .avatar {
    display: block;
    text-align: center;
    padding-right: 100px;
    /* padding-left: 25px; */
    /* padding-top: 40px; */
    /* flex: 1; */
  }
  
  
  .avatarImg {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #6b6b6b;
  }

  
  .overview span.top {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
  
  }
  
  .overview span.bottom {
    display: flex;
    font-weight: 200;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
  }

  .inputform {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .myPresentations {
    display: flex;
    width: 600 px;
    justify-content: space-around;
    text-align: center;  
    
  }

  .myPresentations>div{
    border: 1px solid black;
  }

}
